In [1]:
import pandas as pd
import numpy

from pydqc import infer_schema, data_summary, data_compare, data_consist

#import sys
#sys.path.insert(0, '../pydqc')
#import infer_schema, data_summary, data_compare, data_consist

# load data
Test data is from Kaggle competition: **Zillow Prize: Zillow’s Home Value Prediction (Zestimate)**  
link: https://www.kaggle.com/c/zillow-prize-1  

You need to download the following files, unzip and put them into the 'data' folder.  
1. properties_2016.csv.zip  
2. properties_2017.csv.zip

In [5]:
%time data_2016 = pd.read_csv('data/properties_2016.csv')
%time data_2017 = pd.read_csv('data/properties_2017.csv')

Wall time: 31.1 s
Wall time: 38.2 s

In [6]:
print data_2016.shape
print data_2017.shape

(2985217, 58)
(2985217, 58)

In [7]:
data_2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [8]:
data_2017.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

# infer schema

### infer schema based on full set of data

In [6]:
%%time
infer_schema.infer_schema(data=data_2016, fname='properties_2016', output_root='output/', 
                          sample_size=1.0, type_threshold=0.5, n_jobs=2, base_schema=None)

Wall time: 4min 56s

### infer schema based on sample data

In [7]:
%%time
infer_schema.infer_schema(data=data_2016, fname='properties_2016_sample', output_root='output/', 
                          sample_size=0.1, type_threshold=0.5, n_jobs=2, base_schema=None)

Wall time: 53.7 s

### you should check the generated data schema 
and modify the data types if necessary. :)  
You can do the modification based on the data dictionary **zillow_data_dictionary.xlsx**.  
It's better to save the modified data schema with different name from the original one.  
In this example, the modified data schema is saved as XXX_mdf.xlsx

### infer schema based on base_schema
Since we have already generated data schema for data_2016, we can use the **modified** data schema of data_2016 to infer the schema for data_2017.

In [2]:
data_2016_schema = pd.read_excel('output/data_schema_properties_2016_mdf.xlsx')

In [3]:
data_2016_schema.head()

,column,type,include,sample_value,sample_num_uni,sample_uni_percentage,sample_min,sample_median,sample_max,sample_std
0,parcelid,key,1,"[11238357, 12727866, 12914860, 12397429, 12616...",2985217,1.00000,10711725.0,12545094.0,169601949.0,7.909965e+06
1,airconditioningtypeid,str,1,"[1.0, 1.0, 1.0, 1.0, 1.0]",7,0.00001,1.0,1.0,13.0,3.148585e+00
2,architecturalstyletypeid,str,1,"[7.0, 7.0, 7.0, 7.0, 8.0]",8,0.00132,2.0,7.0,27.0,2.436090e+00
3,basementsqft,numeric,1,"[676.0, 130.0, 264.0, 1056.0, 120.0]",751,0.46130,20.0,534.0,8516.0,5.386280e+02
4,bathroomcnt,numeric,1,"[2.0, 1.0, 2.0, 2.0, 4.0]",37,0.00001,0.0,2.0,20.0,1.077754e+00

In [10]:
%%time
infer_schema.infer_schema(data=data_2017, fname='properties_2017_sample', output_root='output/', 
                          sample_size=0.1, type_threshold=0.5, n_jobs=2, base_schema=data_2016_schema)

Wall time: 45.5 s

# data_summary
generate data summary report based on the **modified** data schema

In [11]:
data_2016_schema = pd.read_excel('output/data_schema_properties_2016_mdf.xlsx')

In [12]:
data_2016_schema.head()

,column,type,include,sample_value,sample_num_uni,sample_uni_percentage,sample_min,sample_median,sample_max,sample_std
0,parcelid,key,1,"[11238357, 12727866, 12914860, 12397429, 12616...",2985217,1.00000,10711725.0,12545094.0,169601949.0,7.909965e+06
1,airconditioningtypeid,str,1,"[1.0, 1.0, 1.0, 1.0, 1.0]",7,0.00001,1.0,1.0,13.0,3.148585e+00
2,architecturalstyletypeid,str,1,"[7.0, 7.0, 7.0, 7.0, 8.0]",8,0.00132,2.0,7.0,27.0,2.436090e+00
3,basementsqft,numeric,1,"[676.0, 130.0, 264.0, 1056.0, 120.0]",751,0.46130,20.0,534.0,8516.0,5.386280e+02
4,bathroomcnt,numeric,1,"[2.0, 1.0, 2.0, 2.0, 4.0]",37,0.00001,0.0,2.0,20.0,1.077754e+00

In [13]:
%%time
data_summary.data_summary(table_schema=data_2016_schema, table=data_2016, fname='properties_2016', 
                          sample_size=1.0, output_root='output/', keep_images=False, n_jobs=2)

Wall time: 55.2 s

### generate data summary notebook
if you want to do further checking based on the basic methods provided by **data_summary**, you can generate a notebook.

In [14]:
data_summary.data_summary_notebook(table_schema=data_2016_schema, table=data_2016, 
                                   fname='properties_2016', output_root='output/')

# data compare

In [15]:
data_2017_schema = pd.read_excel('output/data_schema_properties_2017_sample_mdf.xlsx')

In [16]:
%%time
data_compare.data_compare(table1=data_2016, table2=data_2017, schema1=data_2016_schema, schema2=data_2017_schema,
                          fname='properties_2016', sample_size=1.0, output_root='output/', keep_images=False, n_jobs=2)

Wall time: 2min 3s

### generate data compare notebook

In [17]:
data_compare.data_compare_notebook(table1=data_2016, table2=data_2017, schema1=data_2016_schema, schema2=data_2017_schema,
                                   fname='properties_2016', output_root='output/')

# data consist

In [ ]:
%%time
data_consist.data_consist(table1=data_2016, table2=data_2017, key1='parcelid', key2='parcelid',
                          schema1=data_2016_schema, schema2=data_2017_schema,
                          fname='properties_2016', sample_size=1.0, output_root='output/', keep_images=False, n_jobs=2)

In [ ]:
data_consist.data_consist_notebook(table1=data_2016, table2=data_2017, key1='parcelid', key2='parcelid',
                                   schema1=data_2016_schema, schema2=data_2017_schema,
                                   fname='properties_2016', output_root='output/')