# source: https://realpython.com/python-data-cleaning-numpy-pandas/

# In this tutorial, we’ll leverage Python’s Pandas and NumPy libraries to cover the following ETL Topics:

* Dropping unnecessary columns in a DataFrame

* Changing the index of a DataFrame

* Using .str() methods to clean columns

* Using the DataFrame.applymap() function to clean the entire dataset, element-wise

* Renaming columns to a more recognizable set of labels

* Skipping unnecessary rows in a CSV file

In [35]:
import pandas as pd #
import numpy as np

In [36]:
#read csv file into python using pandas
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.head() #explore dataframe column contents

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,1,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,2,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,3,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,4,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,5,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

<b> Dropping Columns in a DataFrame </b>

In [37]:
col_to_drop = ['Edition Statement',
            'Corporate Author',
            'Corporate Contributors',
          'Former owner',
            'Engraver',
            'Contributors',
           'Issuance type',
            'Shelfmarks']

df.drop(col_to_drop, inplace=True, axis=1)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,1,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,2,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,3,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,4,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,5,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

<b> Create an index field, based on unidue values </b>

In [53]:
if df['Identifier'].is_unique: #check if column is unique
    print('pandas dataframe field is unique')
    df = df.set_index('Identifier')
    print(df.loc[206]) # can now reference bt index value
df.head()

pandas dataframe field is unique
Place of Publication                                               London
Date of Publication                                                  1851
Publisher                                                 Richard Bentley
Title                   Pictures of Sweden. [Translated by Charles Bec...
Author                                   Andersen, H. C. (Hans Christian)
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
1,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
2,London; Virtue & Yorston,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
4,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
5,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

# Tidying up Fields in the Data
Pandas docs: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#attributes-and-underlying-data

<b>Purpose: clean specific columns and get them to a uniform format to get a better understanding of the dataset and enforce consistency </b>

<b> check Pandas dataframe columns and datatypes </b>

In [54]:
print(df.dtypes) #get data type of each column in dataframe - change if needed (see next cell for example)
print(df.shape) #get data type counts - change using

Place of Publication     object
Date of Publication     float64
Publisher                object
Title                    object
Author                   object
Flickr URL               object
dtype: object
(8287, 6)

<b> Change fist 4 characters of "date of publication" field to numeric, to use in future calculations </b>

In [55]:
extr = df['Date of Publication']
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].head()

Identifier
1    1879.0
2    1868.0
3    1869.0
4    1851.0
5    1857.0
Name: Date of Publication, dtype: float64

In [56]:
#Combining str Methods with NumPy to Clean Columns
#np.where function, which is basically a vectorized form of Excel’s IF() macro.
#np.where(condition1, x1, 
#        np.where(condition2, x2, 
#            np.where(condition3, x3, ...))
df['Place of Publication'].head(10)

Identifier
1                                  London
2                London; Virtue & Yorston
3                                  London
4                                  London
5                                  London
6                                  London
7                                  London
8     pp. 40. G. Bryan & Co: Oxford, 1898
9                                 London]
10                                 London
Name: Place of Publication, dtype: object

In [57]:
#to clean this column in one sweep, we can use str.contains() to get a boolean mask.
pub = df['Place of Publication']
london = pub.str.contains('London') #find all rows in "place of publication that contains 'London'
print(london[:10]) # print first 5 rows of dataframe - Returns "True" if sting is found

Identifier
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9      True
10     True
Name: Place of Publication, dtype: bool

In [58]:
#replace hypen "-" with blank character '' 
oxford = pub.str.contains('Oxford') #find all rows in "place of publication that contains 'Oxford'
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' '))) #replace "-" with bloank character
df['Place of Publication'].head(10)

Identifier
1     London
2     London
3     London
4     London
5     London
6     London
7     London
8     Oxford
9     London
10    London
Name: Place of Publication, dtype: object

In [59]:
#replace multiple values in a pandas dataframe by applying the applymap() function
# create callable function to apply to each data element - 
#see https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_dataframes/ for more details
def chg_author(item):
    if type(item) is not str:
        return item
    if 'A., A. A.' in item:
        return 'J.Bergmann'
    else:
        return item
cleaned_df = df.applymap(chg_author)
print(cleaned_df.head())

           Place of Publication  Date of Publication              Publisher  \
Identifier
1                        London               1879.0       S. Tinsley & Co.
2                        London               1868.0           Virtue & Co.
3                        London               1869.0  Bradbury, Evans & Co.
4                        London               1851.0          James Darling
5                        London               1857.0   Wertheim & Macintosh

                                                        Title      Author  \
Identifier
1                           Walter Forbes. [A novel.] By A. A       A. A.
2           All for Greed. [A novel. The dedication signed...  J.Bergmann
3           Love the Avenger. By the author of “All for Gr...  J.Bergmann
4           Welsh Sketches, chiefly ecclesiastical, to the...   A., E. S.
5           [The World in which I live, and my place in it...   A., E. S.

                                                   Flickr URL
Identifier
1           http://www.flickr.com/photos/britishlibrary/ta...
2           http://www.flickr.com/photos/britishlibrary/ta...
3           http://www.flickr.com/photos/britishlibrary/ta...
4           http://www.flickr.com/photos/britishlibrary/ta...
5           http://www.flickr.com/photos/britishlibrary/ta...

<b> Export Resulting "Cleaned" dataset to CSV file.</b>  
    Note: remove csv header for import into MySQL

In [63]:
#export in utf-8 encoding - helps with later import into mysql!
cleaned_df.to_csv('BL-Flickr-Images-Book-Cleaned.csv',header=False,encoding='utf-8')

<b> Python Bulk Loading Data (ETL) into MySQL with Python </b><br>
Insert "Cleaned" csv file into MySQL database table

In [64]:
#install pymysql using pip "!pip install pymysql"
#!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.9.3-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 424 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the '/home/jbergmann/venv/bin/python -m pip install --upgrade pip' command.

In [65]:
#purpose:  Python Bulk Loading Data (ETL) into MySQL with Python
#Insert "Cleaned" csv file into MySQL database table
import pymysql #pymysql package to connect to MySQL and execute SQL statements with Python

In [68]:
import csv #Python Core Package - import csv file from local path
mydb = pymysql.connect(host='localhost', user='root', passwd='root', db='sys')
#open cleaned dataset to import into MySQL table (See Table Create Script - ETL_Python2SQL_Books.sql)
csv_data = csv.reader(open('BL-Flickr-Images-Book-Cleaned.csv',encoding='utf-8'))

In [79]:
#run MySQL SQL query to create table for imported CSV file
cursor = mydb.cursor()
query = """CREATE TABLE sys.etl_books (
  identifier varchar(10) NOT NULL,
  place_of_publication text,
  date_of_publication varchar(50) DEFAULT NULL,
  publisher text,
  title text,
  author text,
  flickr_url text,
  PRIMARY KEY(identifier)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci"""
cursor.execute(query)
mydb.commit()
cursor.close()

In [81]:
#import each row of the csv file in to the corresponding database/table in MySQL
cursor = mydb.cursor()
query = """INSERT INTO etl_books(identifier, place_of_publication, date_of_publication, publisher, title, author, flickr_url) 
VALUES(%s,%s,%s,%s,%s,%s,%s)
"""
for row in csv_data:
    cursor.execute(query,row)
mydb.commit()

In [82]:
#close msql data stream
cursor.close()
print("Imported!")

Imported!

In [86]:
#check results via query 
cursor = mydb.cursor()
query = """SELECT * FROM sys.etl_books"""
cursor.execute(query)
mydb.commit()
result = cursor.fetchall()
cursor.close()

In [88]:
#print results of the query
print(result[1])

('100', 'London', '1827.0', 'William Marsh', 'Scenes and Occurrences in Albany and Cafferland, South Africa. [By T. Phillips.]', '', 'http://www.flickr.com/photos/britishlibrary/tags/sysnum000038986')

In [89]:
#create jupyter notebook as python script
#!jupyter nbconvert --to script ETL_Python2SQL.ipynb

[NbConvertApp] Converting notebook ETL_Python2SQL.ipynb to script
[NbConvertApp] Writing 5834 bytes to ETL_Python2SQL.py